@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body{
  font-family: "Open Sans";
}

html {
  height:100%;
  background-image: url('assets/happy-birthday-616363.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

nav {
    max-width: 960px;
    mask-image: linear-gradient(90deg, rgba(237, 18, 18, 0.777) 0%, #ed3131e2 25%, #b81010 75%, rgba(208, 53, 53, 0.629) 100%);
    margin: 0 auto;
    padding: 5px 0;
  }
  
  nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    background: linear-gradient(90deg, rgba(203, 21, 21, 0.978) 0%, rgba(220, 20, 20, 0.481) 25%, rgba(209, 27, 27, 0.523) 75%, rgba(203, 21, 21, 0.978) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    padding: 18px;
    font-family: "Open Sans";
    text-transform:uppercase;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-decoration: none;
    display: block;
  }
  
  nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgb(0, 0, 0);
  }
  .luvya{
    padding: 18px;
    font-family: "Open Sans";
    text-transform:uppercase;
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-decoration: none;
    display: block;
    font-weight: bolder;
    align-self: start !important;
    margin-left: -50%;
  }

  /* ---------------------------------------------------------------------------------------- */
  
  .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    max-width: 600px;
    background-color: rgba(255,255,255,0.13);
    margin: 10px auto;
    border-radius: 20px;
    flex-wrap: wrap;
    padding-bottom: 50px;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding-top: 20px;
    
  }
  .size_heading{
    color: #000000;
    font-family: "Open Sans";
    font-size: 20px;
  }
  .input_clear {
    background-color:rgba(255,255,255,0.13);
    font-family: "Open Sans";
    font-size: large;
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ff0101;
    border-radius: 4px;
  }
  .input_clear:focus {
    outline: none !important;
    font-family: "Open Sans";
    border: 2px solid #ff0101;
    box-shadow: 0 1px #c0c5c8;
    color: #000000;
  }
  .button {
    cursor: pointer;
    width: 75%;
    border: 1px solid #b32d2d;
    padding: 14px 30px;
    border-radius: 200px;
    color: #000000;
    background: #ff0101;
    font-family: "Open Sans";
    font-size: 16px;
    transition: 200ms;
  }
  
  .button:hover {
        background: rgba(255,255,255,0.13);
        color: black;
  }
  .login_text{
    display: inline;
  }
  
  .error{
    font-size: smaller;
    color: red;
    width: 70% ;
    margin-top: -20px;
  }
  .success{
  
    color: rgb(19, 242, 7);
    
  }

  .label{
    margin-left: 13%;
    align-self: start !important;
    margin-bottom: -3%;
  }

  .btn{
    cursor: pointer;
    display: inline;
    width: 20%;
    margin-left: 3%;
    border: 1px solid #b32d2d;
    color: #000000;
    background: #ff0101;
    font-family: "Open Sans";
    font-size: 16px;
    transition: 200ms;
  }
  .btn:hover {
    background: rgba(255,255,255,0.13);
    color: black;
  }
  .btngreen{
    cursor: pointer;
    display: inline;
    width: 20%;
    margin-left: 3%;
    border: 1px solid #b32d2d;
    color: #000000;
    background: #73ff01;
    font-family: "Open Sans";
    font-size: 16px;
    transition: 200ms;
  }
  .btngreen:hover {
    background: rgba(255,255,255,0.13);
    color: black;
  }
  .btnyellow{
    cursor: pointer;
    display: inline;
    width: 20%;
    margin-left: 3%;
    border: 1px solid #b32d2d;
    color: #000000;
    background: #fbff01;
    font-family: "Open Sans";
    font-size: 16px;
    transition: 200ms;
  }
  .btnyellow:hover {
    background: rgba(255,255,255,0.13);
    color: black;
  }

  hr{
    width: 100%;
    
  }
  .container_name{
    display: flex;
    justify-content: center;
    width: 90%;
    align-items: center;
    gap: 1px;
    margin: 10px auto;
    border-radius: 20px;
    flex-wrap: wrap;
    padding-bottom: 50px;
    padding-top: 20px;
    
  }

  .container_blue{
    display: flex;
    background-color: rgba(0, 213, 255, 0.948);
    justify-content: space-around;
    width: 60%;
    align-items: center;
    margin: 10px auto;
    border-radius: 20px;
    flex-wrap: wrap;
    padding-bottom: 20px;
    padding-top: 20px;
    
  }
  .container_grey{
    display: flex;
    background-color: rgb(180, 179, 179);
    justify-content: space-around;
    width: 60%;
    align-items: center;
    gap: 1px;
    margin: 10px auto;
    border-radius: 20px;
    flex-wrap: wrap;
    padding-bottom: 20px;
    padding-top: 20px;
    
  }

  .hello{
    position: absolute;
    left: 30%;
    right: 50%;
    width: 70%;
 }
  